{% extends "base.html" %}

{% block title %}{{ board_id }} details{% endblock %}

{% block body %}

   <div class="row">
    <div class="col-md-6">
      <h2>Board name: {{ board }}</h2>
      <h2>Creator: {{ creator }}</h2>
      <h6>Date Time: {{ dt }}</h6>
      <hr / color="#007bff">
      {% for com in comments %}
        <p><b>{{ com[1] }}</b> write <i>"{{ com[0] }}"</i></p>
      {% endfor %}
    </div>
    <div class="col-md-6">
      <h1>Add comment</h1>
      <form action="" method=post>
        {% if error %}
          <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}
        <div class="form-group">
          <label for="creator">Username</label>
          <input type="text" class="form-control" id="creator"
          name="comment_creator" placeholder="Elvis   (max 30 char.)" required="" value="{{ values[1] }}">
        </div>
        <div class="form-group">
          <label for="comment">Comment</label>
          <textarea class="form-control" rows="7" id="comment" name="comment" placeholder="bla bla bla   (max 255 char.)" maxlength="255" required>{{ values[0] }}</textarea>
        </div>
        <br>
        <div>
          <button type="submit" class="btn btn-primary btn-block">Add</button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}