{% extends 'base.html' %}

{% block content %}

<div class="ui three column stackable centered grid">
    <div class="column">
        <form action="/login" method="post">
            <div class="ui fluid action input">
                <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="name" placeholder="Name" autofocus required>
                  </div>
                </div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="pass" placeholder="Password" required>
                  </div>
                </div>
                <button type="submit" class="ui primary button">Sign in</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
